.header-row {
  display: flex;
  flex-wrap: wrap;
}

.column-one-half {
  display: flex;
  flex-basis: calc(100% / 2);
  align-items: flex-end;
  background-color: #0802a3;
  color: #ffcd4b;
}

.pokemon-container {
  max-width: 1000px;
  margin: 1rem auto;
}

.row-pokemon {
  display: flex;
  flex-wrap: wrap;
}

.column-one-fifth {
  padding: 0 0.5rem;
  width: calc(100% / 5);
}

.column-full {
  display: flex;
  width: 100%;
  justify-content: center;
}

.row-modal {
  display: flex;
  margin: 0 40rem;
}

.card-column-one-half {
  padding: 2rem 0 0;
  width: calc(100% / 2);
  margin: 2rem auto;
  justify-content: center;
}

.hidden {
  display: none !important;
}
