@media only screen and (max-width: 768px) {
  .column-one-half {
    flex-basis: 100%;
    margin-bottom: 1rem;
  }

  .header-row {
    justify-content: space-between;
  }

  h1 {
    font-size: 1.5rem;
  }

  #pokemon-type {
    margin-left: 1rem;
  }

  .fa-heart {
    margin-left: auto;
  }

  .pokemon-status-card {
    max-width: 300px;
    padding: 0.5rem;
    font-size: 18px;
  }

  .pokemon-status-card img {
    max-width: 80%;
    height: auto;
  }

  .pokemon-status-card > p {
    font-size: 16px;
    padding: 0.5rem;
  }

  .exit {
    width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
    text-align: center;
  }

  #pokemon-type {
    margin: 0.5rem auto;
    display: block;
  }

  .fa-heart {
    margin-left: auto;
    margin-right: 1rem;
    display: block;
    text-align: right;
  }

  .pokemon-status-card {
    max-width: 250px;
    padding: 0.5rem;
    font-size: 16px;
  }

  .pokemon-status-card img {
    max-width: 70%;
  }

  .pokemon-status-card > p {
    font-size: 14px;
    padding: 0.25rem;
  }

  .exit {
    width: 80%;
  }
}

@media only screen and (max-width: 375px) {
  .row-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
    width: 80%;
  }

  .pokemon-status-card {
    width: 90%;
    max-width: 280px;
    padding: 1rem;
  }

  .pokemon-status-card img {
    max-width: 100%;
  }

  .pokemon-card-text2 {
    font-size: 14px;
    padding: 0.5rem;
    line-height: 1.2;
  }

  .exit {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .column-one-fifth {
    flex-basis: 100%;
    max-width: 100%;
  }
}

h1 {
  margin-left: 1rem;
  font-size: 1.5rem;
}

#pokemon-type {
  background-color: #ffcd4b;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding: 0.5rem 1 rem;
}

p {
  margin-bottom: 0.5rem;
}

.pokemon-card {
  margin-bottom: 1rem;
  border: 1px solid #ffcd4b;
  border-radius: 0.25rem;
  cursor: pointer;
}

.pokemon-card-text {
  padding: 1rem;
  font-weight: 400;
  margin: 0.75rem 0;
}

.pokemon-card h3 {
  color: #afa8a8;
}

.pokemon-card h2 .pokemon-card h3 {
  margin-top: 0;
}

.pokemon-card > img {
  width: 100%;
  background-color: #ffcd4b;
}

.load {
  background-color: #ff7676;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin-top: 2rem;
  cursor: pointer;
}

.row-modal {
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-width: 800px;
  width: 100%;
  padding: 2rem;
  border-radius: 0.5rem;
}

.pokemon-status-card {
  width: 100%;
  max-width: 400px;
  border: 20px solid #ffcd4b;
  background-color: #fff;
  padding: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.pokemon-status-card > p {
  font-size: 20px;
  font-family: 'Proza Libre', sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 1rem;
}

.pokemon-status-card > img {
  max-width: 100%;
  height: auto;
  width: 100%;
  background-color: #ffcd4b;
}

.pokemon-status-card > i {
  height: 45px;
  font-size: 30px;
  margin-left: 3.5rem;
  color: #ff4b91;
  padding: 1rem;
}

.pokemon-card-text2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Proza Libre', sans-serif;
  background-color: #fff;
  border: 20px solid #ffcd4b;
  height: 95%;
}

.exit {
  background-color: #ff7676;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 0.25rem;
  width: auto;
  text-align: center;
}

.home {
  background-color: #ff7676;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  margin: 2rem;
}

.modal-view {
  background-color: #ff76764f;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  padding: 1rem;
  overflow-y: auto;
  flex-direction: column;
}

.favorite-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.modal-view.hidden {
  display: none;
}

.title {
  cursor: pointer;
}
